//-----------------------------------------------------
// CSS GAME/HIGHT INTERACTIVITY
//-----------------------------------------------------
@import 'mixin.less';
//---------------------------------------
// CONST
//---------------------------------------

.font_face("../fonts/Dosis/dosis-regular", "Dosis", 'normal');

@font-size: 1.4rem;

@font-family-default: 'Dosis', sans-serif;
@font-size-default: 1.5rem;
@bg-body-color: lighten(#9FA1A3, 20%);

@color-black : #1d1d1b;
@color-red: #b91212;
@color-red-dark: #ba242a;
@color-red-light: #bf0712;

@color-rose: #EB5B5C;
@color-time: #502951;
@color-luminosity: #F6A541;
@color-meteorology: #AA4859;
@color-heating: #DB9186;
@color-humidity: #1D89AA;
@color-temperature: #49B19C;

@color-grey: #aca39d;

@margin: 1rem;
@padding: 0.5rem;

//-------------------------------------------------
// HEADER
//-------------------------------------------------
#header{
	width: 100%;
	background-color:@color-red;

	h1{
		margin:0;
		line-height: 1.8;
	}
}

*{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.blur{
	-webkit-filter: blur(5px);
	-ms-filter: blur(5px);
	-o-filter: blur(5px);
	-moz-filter: blur(5px);
	filter: blur(5px);
}

.red{
	color: @color-red;
}

#home {
	position: relative;
	width: 100%;
	height: 100vh;
	min-width: 130rem;
	background: url(../img/home/Karl-accueil.svg) bottom left no-repeat;
	z-index: 10000;

	#logo-expressif {
		position: absolute;
		top: 5rem;
		left: 73rem;

		img {
			max-width: 600px;
		}
	}

	.close{
		position: absolute;
		width: 60px;
		height: 60px;
		right: 4rem;
		top: 4rem;
		background: url(../img/pictos/croix.svg) center center no-repeat;
		cursor: pointer;
	}

	.talk {
		.arrow {
			position: absolute;
			width: 120px;
			height: 120px;
			cursor: pointer;

			&.previous {
				top: 20rem;
				left: 36rem;
				display: hidden;
				opacity: 0;
			}

			&.next {
				bottom: 21rem;
				right: 18rem;
			}
		}

		.content{
			position: absolute;
			top: 33rem;
			left: 45rem;
			max-width: 120rem;
			padding: 10*@padding;
			z-index: 40;
			background: rgba(253,249,248,0.95);
			border-radius: 45px;

			&:before{
				content:"";
				width:20px;
				height:4px;
				border:30px solid transparent;
				border-right: 140px solid rgba(253,249,240,0.9);
				position:absolute;
				left:-16rem;
				top:13.5rem;
				transform: rotate(30deg);
				z-index:40;
			}

			p {
				font-size: 5rem;
				line-height: 6.2rem;
			}
		}
	}
}

// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
//                           APPLICATION SCREEN
// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
.wrapper{
	width: 100%;
	min-width: 130rem;

	// ----------------------------------------------------------------------
	//                         RETURN HOME BUTTON
	// ----------------------------------------------------------------------  
	#show_choice{
		position: absolute;
		top: 2rem;
		left: 2rem;
		text-decoration: none;
		display: block;
		width: 100px;
		height: 100px;
		background: url(../img/pictos/home.svg) 0 center no-repeat;
	}
	#show_choice:hover{
		background: url(../img/pictos/home.svg) -91px center no-repeat;
	}
	#show_choice:active{
		background: url(../img/pictos/home.svg) -182px center no-repeat;
	}

	// --------------------------------------------------------------------
	//         BG ZONE : time, cloud, sun, moon, luminosity
	// --------------------------------------------------------------------
	#environment{
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		z-index:-1;
		width: 100%;
		height: 100%;
		overflow: hidden;

		.bg-environment{
			position:absolute;
			/*top:0;*/
			left:0;
			width:100%;
			height:100%;
			.transition(opacity; 2s; ease-out; 0s);
			opacity:0;

			&#bg_1{
				background: url(../img/fond/fond_1.svg) center center no-repeat;
				background-size: cover;
			}
			&#bg_2{
				background: url(../img/fond/fond_2.svg) center center no-repeat;
				background-size: cover;
				opacity:1;
			}
			&#bg_3{
				background: url(../img/fond/fond_3.svg) center center no-repeat;
				background-size: cover;
			}
			&#bg_4{
				background: url(../img/fond/fond_4.svg) center center no-repeat;
				background-size: cover;
			}
			&#bg_5{
				background: url(../img/fond/fond_5.svg) center center no-repeat;
				background-size: cover;
			}
			&#bg_6{
				background: url(../img/fond/fond_6.svg) center center no-repeat;
				background-size: cover;
			}
			&#bg_7{
				background: url(../img/fond/stars.svg) center center repeat, url(../img/fond/fond_7.svg) center center no-repeat;
				background-size: cover;
			}
			&#darkness{
				background:@color-black;
				background-size: cover;
			}
			&#nuages{
	        	background: url(../img/fond/fond_nuage_1.svg) 0 -80px repeat-x, url(../img/fond/fond_nuage_2.svg) 0 50px repeat-x, url(../img/fond/fond_nuage_1.svg) 0 100px repeat-x;
	        	opacity: 1;
	        	z-index: 20;
	        }
	        &#cloud_deco{
	        	background: url(../img/fond/cloud.svg) center -68px no-repeat;
	        	opacity: 1;
	        	height: 31rem;
	        	background-size: cover;
	        	background-size: 210rem;
	        	bottom: 0;
	        }
		}
		#sun{
            position: absolute;
            top: 0;
            left: 0;
            width: 95px;
            height: 94px;
            background: url('../img/fond/soleil.svg');
            z-index: 1;
        }
        #moon{
            position: absolute;
            top: 0;
            left: 0;
            width: 75px;
            height: 94px;
            background: url('../img/fond/lune.png');
            z-index: 1;
        }
	}

	.call-to-action, .call-to-action-slow{
		border: 2px solid red;
		display: inline;
		cursor: pointer;
		background-color: #EDEDED;
	}

	// ------------------------------------------------------------------------------
	// ------------------------------------------------------------------------------
	//                        SIMULATION CONTAINER
	// ------------------------------------------------------------------------------
	// ------------------------------------------------------------------------------
	#simulation_container{
		position: relative;
		background: url(../img/scene/cuisine.svg) no-repeat center center;
		background-size: contain;
		width: 120rem;
		height: 60rem;
		margin: 7rem auto 0;
		left: -10rem;

		#movement_plan {
			position: absolute;
			width: 100%;
			height: 57%;
			z-index: 21;
			bottom: -15%;
		}

		// ---------------------------------------------------------------
		//                 CHARACTER
		// ---------------------------------------------------------------
		#user{
			position: absolute;
			top: 24rem;
			left: 28rem;
			width: 160px;
			height: 300px;
			background: url(../img/scene/personnage.svg) center center no-repeat;
			background-size: contain;
			cursor: pointer;
			z-index: 10;
			overflow: visible;

			.talk{
				position: absolute;
				top: 1rem;
				left: 16rem;
				max-width: 30rem;
				padding: 2*@padding;
				z-index: 40;
				background: rgba(253,249,240,0.9);
				border-radius: 10px;

				&:before{
					content:"";
					width:10px;
					height:2px;
					border:15px solid transparent;
					border-right:15px solid rgba(253,249,240,0.9);
					position:absolute;
					left:-4rem;
					top:1rem;
					z-index:40;
				}
			}

			&.first-plan {
				z-index: 30;
			}
		}

		#timer{
			position: absolute;
			background: @color-black;
			min-width: 85px;
			height: 40px;
			color: teal;
			top: 10rem;
			left: 9rem;
			font-weight: bold;
			font-size: 2.8rem;

			#hour{
				position: absolute;
				top: 0.4rem;
				left: 0.8rem;
				min-width: 28px;
				text-align: right;
			}
			.sep{
				position: absolute;
				top: 0.2rem;
				left: 3.7rem;
			}
			#minute{
				position: absolute;
				top: 0.4rem;
				left: 4.4rem;
			}
		}
		// -------------------------------------------------------------
		//                     SVG ELEM POSITION
		// -------------------------------------------------------------
		#windows_open{
			position: absolute;
			top: 4.7rem;
			left: 17.8rem;
			width: 297px;
			height: 430px;
			z-index: 1;
		}

		#windows_shutter{
			position: absolute;
			top: 8.3rem;
			left: 21rem;
			height: 36rem;
			z-index: -1;
		}

		#hotte{
			position: absolute;
			top: 10rem;
			left: 99rem;
			z-index: 2;
		}

		#placard{
			position: absolute;
			width: 532px;
			top: 5.4rem;
			left: 57.9rem;
			z-index: 10;
		}

		#hotte_power{
			position: absolute;
			top: 27rem;
			left: 104rem;
			z-index: 1;
		}

		#heating{
			position: absolute;
			top: 35.5rem;
			left: 4rem;
			z-index: 1;

			path{
				.transition(); 
			}
		}

		#lamp_wall{
			position: absolute;
			top: 10rem;
			left: 52rem;
			z-index: 1;
		}

		#lamp_table{
			position: absolute;
			top: 26rem;
			left: -5rem;
			width: 130px;
			height: 280px;
			z-index: 1;
		}

		#lux_plan{
			position: absolute;
			top: 12.5rem;
			left: 69rem;
			z-index: 1;
		}

		#lux_wall{
			position: absolute;
			top: 3.5rem;
			left: 49.8rem;
			z-index: 1;
		}

		#lux_hotte{
			position: absolute;
			width: 243px;
			height: 360px;
			top: 14rem;
			left: 93rem;
			z-index: 1;
		}

		#lux_table{
			position: absolute;
			height: 400px;
			top: 13rem;
			left: -13rem;
			z-index: 1;
		}

		#grill{
			position: absolute;
			top: 33rem;
			left: 99.3rem;
			z-index: 1;
		}

		#casserole{
			position: absolute;
			top: 33rem;
			left: 95rem;
			z-index: 1;
			width: 110px;
			height: 60px;
		}

		#table{
			position: absolute;
			top: 42rem;
			left: 7rem;
			z-index: 20;
		}

		#chaud{
			position: absolute;
			top: -5.8rem;
			left: -0.5rem;
			.transition(opacity, 0.3s, ease-in, 0s);
			opacity: 0;
		}
		#froid{
			position: absolute;
			top: -5.8rem;
			left: -0.5rem;
			.transition(opacity, 0.3s, ease-in, 0s);
			opacity: 0;
		}

		#humidity{
			width: 100%;
			height: 100%;
		}

		#thermometre{
			position: absolute;
			top: -13rem;
			left: 61rem;
		}
		#thermo_masque{
			width: 10px;
			height: 35px;
			position: absolute;
			top: 12.4rem;
			left: 120.6rem;
		}
	}
	// --------------------------------------------------------
	//                       DATA
	// --------------------------------------------------------
	#data_panel{
		position: absolute;
		width: 35rem;
		right: 0rem;
		top: 8rem;
		padding: @padding;
		background: rgba(235,91,92, 0.1);

		h4{
			color: #FFF;
			font-size: 2.8rem;
			text-align: center;
		}

		.white_sep{
			height: 2px;
			width: 60px;
			background: #FFF;
			margin: @margin auto;
		}

		section{
			padding: 2*@padding 4*@padding;

			.initial{
				color: #FFF;
				font-size: 2.4rem;
				height: 7rem;
				line-height: 3rem;
				text-align: center;
				background: url(../img/pictos/arrow_white.png) center 35px no-repeat;
			}

			div.data{
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 2.2rem;
				text-align: center;
				margin-bottom: @margin;
			}

			svg{
				margin: 0 @margin;
				width: 80px;
				height: 80px;
			}

			.final{
				font-size: 2.6rem;
				height: 7rem;
				line-height: 10rem;
				text-align: center;
				background: url(../img/pictos/arrow_red.png) center 0px no-repeat;
			}
		}
	}

	// --------------------------------------------------------
	//                       CONTROLS
	// --------------------------------------------------------
	#controls_panel{
		position: absolute;
		bottom: 10rem;
		width: 100%;
		height: 10rem;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		opacity: 0;

		.control{
			.output{
				text-align: center;
				color: @color-black;
				font-weight: bold;
				font-size: 1.8rem;
			}

			&.karl{
				width: 140px;
				height: 140px;
				background: url(../img/pictos/karltete.svg) center -160px no-repeat;

				.button_container{
					border: 2px solid @color-red-dark;
					padding: 0.7*@padding;
					margin: 0 auto;
					width: 6rem;

					input{
						border: none;
						width: 100%;
						color: @color-red-dark;
						padding: @padding;
						font-size: 1.8rem;
						background: none;
						cursor: pointer;
						outline: none;
					}
					&:hover{
						input{
							color: #FFF;
							background: @color-red-dark;
						}
					}
					&:active{
						background: @color-red-dark;
					}
				}
				.output{
					margin-top: 10rem;
				}
			}
			.circle {
				position: relative;
		        width: 140px;
		        margin: 0 25px;
		        height: 140px;
		        border: 3px solid rgba(255,255,255,0.3);
		        border-radius: 100%;
		        float: left;
		        margin-bottom: 2*@margin;

		        .cran{
		        	position: absolute;
		        	width: 1px;
		        	border: 1px solid #FFF;
		        	left: 7rem;
		        	top: -1.5rem;
		        }

	          	>div{
		            position: relative;
		            height: 30px;
		            width: 30px;
		            left: 57px;
		            top: -14px;
		            border-radius: 100%;
		            cursor: pointer;
		            border: 2px solid #FFF;

		            >.puce{
		            	margin: 3px;
			            height: 20px;
			            width: 20px;
		            	border-radius: 100%;
		            }

		            &#slider_time .puce{
		            	background-color: @color-time;
		            }
		            &#slider_luminosity .puce{
		            	background-color: @color-luminosity;
		            }
		            &#slider_meteorology .puce{
		            	background-color: @color-meteorology;
		            }
		            &#slider_heating .puce{
		            	background-color: @color-heating;
		            }
		            &#slider_humidity .puce{
		            	background-color: @color-humidity;
		            }
		            &#slider_temperature .puce{
		            	background-color: @color-temperature;
		            }
		            &#slider_more .puce{
		            	background-color: #666;
		            }
		        }
		        &.time{
		        	background: url(../img/pictos/time.png) no-repeat center center;
		        }
		        &.luminosity{
		        	background: url(../img/pictos/luminosity.png) no-repeat center center;
		        }
		        &.meteorology{
		        	background: url(../img/pictos/meteorology.png) no-repeat center center;
		        }
		        &.heating{
		        	background: url(../img/pictos/heating.png) no-repeat center center;
		        }
		        &.humidity{
		        	background: url(../img/pictos/humidity.png) no-repeat center center;
		        }
		        &.temperature{
		        	background: url(../img/pictos/temperature.png) no-repeat center center;
		        }
		        &.more{
	        		border: 3px solid @color-black;
		        	background: url(../img/pictos/votreparametre.png) no-repeat center center;
		        	cursor: pointer;

		        	&:hover{
		        		border: 3px solid @color-grey;
		        	}
		        	.cran{
			        	border: 1px solid @color-black;
			        }

		          	>div{
			            border: 2px solid @color-black;
			        }
		        }
	        }
		}
	}
	// --------------------------------------------------------
	//                         FORM
	// --------------------------------------------------------
	#tuto_form{
		position: absolute;
		top: 20rem;
		left: 20rem;
		border: 2px solid rgba(255, 255, 255, 0.85);
		border-radius: 10px;
		z-index: 1000;
		display: none;

		section.pop_in{
			position: relative;
			margin: 0.7*@margin;
			background: rgba(255,255,255, 0.85);
			border-radius: 10px;
			padding: 8*@padding 15*@padding;

			h4{
				font-size: 4rem;
			}

			.close{
				position: absolute;
				width: 30px;
				height: 30px;
				right: 1rem;
				top: 1rem;
				background: url(../img/pictos/croix.svg) center center no-repeat;
				cursor: pointer;
			}

			.field_group{
				margin: @margin auto;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 2.8rem;

				.button_container{
					border: 2px solid @color-red-dark;
					padding: 0.7*@padding;
					margin: 4*@margin auto 0;
					width: 18rem;

					input{
						border: none;
						width: 100%;
						color: @color-red-dark;
						padding: @padding;
						font-size: 2.4rem;
						background: none;
						cursor: pointer;
						outline: none;
					}
					&:hover{
						input{
							color: #FFF;
							background: @color-red-dark;
						}
					}
					&:active{
						background: @color-red-dark;
					}
				}
			}
		}
	}
	#rules_form{
		position: absolute;
		top: 20rem;
		left: 20rem;
		border: 2px solid rgba(255, 255, 255, 0.85);
		border-radius: 10px;
		z-index: 1000;

		section.pop_in{
			position: relative;
			margin: 0.7*@margin;
			background: rgba(255,255,255, 0.85);
			border-radius: 10px;
			padding: 8*@padding 15*@padding;

			h4{
				font-size: 4rem;
			}

			.close{
				position: absolute;
				width: 30px;
				height: 30px;
				right: 1rem;
				top: 1rem;
				background: url(../img/pictos/croix.svg) center center no-repeat;
				cursor: pointer;
			}

			form{
				width: 90%;
				margin: 0 auto;

				.field_group{
					margin: @margin auto;
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 2.8rem;

					span.red{
						font-size: 3.8rem;
					}
				}

				select{
					background: @color-grey;
					margin: 0 @margin;
					font-size: 1.8rem;
				}

				.button_container{
					border: 2px solid @color-red-dark;
					padding: 0.7*@padding;
					margin: 4*@margin auto 0;
					width: 18rem;

					input{
						border: none;
						width: 100%;
						color: @color-red-dark;
						padding: @padding;
						font-size: 2.4rem;
						background: none;
						cursor: pointer;
						outline: none;
					}
					&:hover{
						input{
							color: #FFF;
							background: @color-red-dark;
						}
					}
					&:active{
						background: @color-red-dark;
					}
				}
			}
		}
	}
}